<div class="center header">
	<div>
		<h1 class="title">VoidPanel</h1>
	</div>
	<div class="navbar">
		<span><a href="/">Home</a> | <a href="/temps">Temperature Graphs</a> | <a href="/current">Current Temperatures</a></span>
	</div>
</div>