@font-face {
	font-family: goodTimes;
	src: url(../fonts/goodtimes.ttf);
}

@font-face {
	font-family: caviarDreams;
	src: url(../fonts/CaviarDreams.ttf);
}

html, body {
	margin: 0px;
	height: 100%;
}

body {
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.header {
	margin: 0;
}

.navbar {
	background-color: rgba(50,50,50,0.5);
	padding: 0.5em 0px;
	margin-bottom: 1em;
}

.navbar span {
	width: 100%;
	text-align: center;
	font-family: caviarDreams;
	font-size: 18px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.title {
	color: white;
	font-size: 30px;
	font-family: goodTimes;
	margin-bottom: 20px;
	margin-top: 20px;
}

tr td {
	width: 50%;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box.row {
	border: 1px dotted gray;
}

.box .row.header {
	flex: 0 1 auto;
}

.box .row.content {
	flex: 1 1 auto;
	position: relative;
	padding: 5px;
}

.graph-container {
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	margin: 5px;
}

h3 {
	font-size: 20px;
}

.break {
	width: calc(100%-20px);
	height: 2px;
	background-color: #AAA;
	margin-bottom: 20px;
}

.link {
	align-content: center;
	font-family: goodTimes;
	margin: 10px;
	width: calc(100% - 24px);
	height: 50px;
	border: 2px solid;
	border-image-source: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
	border-image-slice: 1;
	padding: 10px 0;

}

#filter-button {
	display: none;
	padding: 5px;
}

#filters {
	padding: 5px;
}

a {
	color: white;
	/*text-decoration: none;*/
}

@media only screen and (max-width: 768px) {
	.left, .right, .center {
		text-align: center;
	}
	input, select, button {
		width: 100%;
		height: 50px;
	}
	#filter-button {
		display: block;
	}
	#filters {
		display: none;
	}
}